.page {
  --color-off-black: #1E252C;
  --color-custom-purple: #4D42B7;
  --color-custom-red: #E7194F;
  background-color: var(--color-off-black);
  min-height: 100svh;
  font-family: var(--font-montserrat);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.mastheadContainer {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.mastheadImage {
  display: block;
  border: 5px solid white;
  outline: 3px solid var(--color-custom-red);
  max-width: 100%;
  height: auto;
}

.nav {
  width: 500px;
  max-width: 100%;
  margin-top: 50px;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 20px;
}

@media (max-width: 600px) {
  .nav ul {
    grid-template-columns: 1fr;
  }
}

.navLink {
  background-color: var(--color-off-black);
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  outline: 2px solid var(--color-custom-red);
  border: 3px solid white;
  letter-spacing: .2rem;
}

.navLink:hover {
  background-color: white;
  color: var(--color-off-black);
  cursor: pointer;
}

.feature {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  line-height: 1.8rem;
  margin: 200px 0;
}

.feature > div {
  border: 1px solid;
  background: white;
  width: 500px;
  border: 3px solid var(--color-custom-red);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.feature h1 {
  margin-bottom: .5rem;
}

.feature p {
  margin-bottom: 1.5rem;
}

.feature a {
  color: var(--color-custom-purple)
}

.feature a:hover {
  text-decoration: underline;
}

.feature b {
  font-size: 24px;
  font-weight: normal;
  padding-right: .1rem;
}

.contactLinks p {
  margin-bottom: .5rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}
